<a href="https://colab.research.google.com/github/cruz-marco/dex_files/blob/main/assign_clu02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.mixture import GaussianMixture
from sklearn.cluster import MeanShift, estimate_bandwidth

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/Assign_clustering/clusterass02.csv').drop(columns=['ID'])

In [ ]:
df.head()

,0,1,2,3,4,5,6,7
0,7.670533,-8.361275,-4.382564,9.554443,-1.694103,-10.321502,-3.487037,4.396732
1,6.637839,11.816383,9.915178,-0.405736,-7.225997,6.356163,8.853543,-7.518973
2,-9.647596,-10.778571,10.732021,5.710078,-0.840306,0.988635,1.728992,-6.666212
3,3.912661,-8.657159,-4.019281,8.890826,-1.637873,-5.524985,-3.793121,2.372040
4,-7.482907,-10.025526,4.898986,2.455718,0.130918,-2.226422,6.583667,-10.293174

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(df)

StandardScaler()

In [ ]:
df_sc = pd.DataFrame(data=scaler.transform(df), columns=df.columns)

In [ ]:
df_sc.head()

,0,1,2,3,4,5,6,7
0,1.633835,-0.995208,-0.868547,1.284560,-0.907247,-1.882019,-0.620652,1.252222
1,1.440231,2.019582,1.438733,-1.248540,-1.995565,1.306390,1.083079,-1.163758
2,-1.612874,-1.356382,1.570550,0.306850,-0.739275,0.280235,0.099469,-0.990855
3,0.929330,-1.039417,-0.809922,1.115787,-0.896184,-0.965029,-0.662909,0.841704
4,-1.207049,-1.243868,0.629252,-0.520807,-0.548201,-0.334415,0.769702,-1.726243

In [ ]:
msc = MeanShift(bandwidth=3)

In [ ]:
df['msc'] = msc.fit_predict(df_sc)
df['msc'] = df['msc'].astype('category')

In [ ]:
df['msc'].value_counts()

0    2207
1     554
Name: msc, dtype: int64

In [ ]:
gmc = GaussianMixture(n_components=6,random_state=123)

In [ ]:
df['gmc'] = gmc.fit_predict(df_sc)
df['gmc'] = df['gmc'].astype('category')

In [ ]:
df['gmc'].value_counts()

4    553
1    552
2    552
3    552
5    305
0    247
Name: gmc, dtype: int64